{% extends "Layouts/base.html" %}



{% block content %}

{% load static %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="banner_content text-center">
              <h2>Courses</h2>
              <div class="page_link">
                <a href="{% url 'PlanningHomePage' %}">Home</a>
                <a href="courses.html">Courses</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->



  

	<div class="container-contact100 ">
		
		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="POST" action="{% url 'PlanningTimeTable' %}">
				{% csrf_token %}
				<span class="contact100-form-title">
					GENERATE TIME TABLE
				</span>

				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Semaine du Cours</span>
					<input class="input100" type="date" name="date" placeholder="Enter Date">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 input100-select">
					<span class="label-input100">Moment du Cours</span>
					<div>
						<select class="selection-2" name="moment">
							<option>Lundi Matin</option>
							<option>Lundi Soir</option>
							<option>Mardi Matin</option>
							<option>Mardi Soir</option>
							<option>Mercredi Matin</option>
							<option>Jeudi Matin</option>
							<option>Jeudi Soir</option>
							<option>Vencredi Matin</option>
							<option>Vendredi Soir</option>
							<option>Samedi Matin</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Heure Debut Du cours</span>
					<input class="input100" type="time" name="heure_debut" placeholder="Enter Time">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Heure Fin  Du Cours</span>
					<input class="input100" type="time" name="heure_fin" placeholder="Enter Time">
					<span class="focus-input100"></span>
				</div>
                
                <div class="wrap-input100 input100-select">
					<span class="label-input100">Classe</span>
					<div>
						<select class="selection-2" name="classe">
							{% for i in classes  %}

							<option>{{i.nom}}</option>

							{% endfor %}
						</select>
					</div>
					<span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 input100-select">
					<span class="label-input100">EC</span>
					<div>
						<select class="selection-2" name="ec">
							{% for i in ecs  %}

							<option>{{i.nom}}</option>

							{% endfor %}
						</select>
					</div>
					<span class="focus-input100"></span>
                </div>
                
                <div class="wrap-input100 input100-select">
					<span class="label-input100">Professeur</span>
					<div>
						<select class="selection-2" name="utilisateur">
							{% for i in users %}

							<option>{{i.user.username}}</option>

							{% endfor %}
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>



    {% endblock content %}
