{% extends "Layouts/newbase.html" %}




{% block content %}

{% load static %}

<div class="row">
    
    <section class="panel panel-primary">
        <header class="panel-heading">
  
            <h2 class="panel-title text-center">Ajouter Un Nouveau Maquette</h2>
        </header>
    
    </section>
  
  </div>


  <div class="row">
    <div class="col-md-12">
        <form id="summary-form" action="forms-validation.html" class="form-horizontal">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
    
                    </div>

                    <h2 class="panel-title">Add A New EC</h2>
                    <p class="panel-subtitle">
                        Third Step : Adding EC Informations
                    </p>
                </header>
                <div class="panel-body">
                    <div class="validation-message">
                        <ul>Success</ul>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nom <span class="required">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" name="fullname" class="form-control"  required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Charge Horaire <span class="required">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" name="fullname" class="form-control"  required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Coefficient <span class="required">*</span></label>
                        <div class="col-sm-7">
                            <input type="text" name="fullname" class="form-control"  required/>
                        </div>
                    </div>

                    <div class="form-group">

                        <label class="col-sm-3 control-label">UE <span class="required">*</span></label>
                        <div class="col-sm-7">

                        <select name="nom" class="form-control" required>

                            {% for ecs in ue  %}

                            <option value="{{ecs.nom}}">{{ecs.nom}}</option>
                              
                            {% endfor %}
                            
                           
                        </select>
                        <label class="error" for="company"></label>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">Avatar <span class="required">*</span></label>
                        <div class="col-sm-7">
                            <input type="file" name="fullname" class="form-control"  required/>
                        </div>
                    </div>

                
                    
                    <div class="form-group mb-3">
                        <label class="col-sm-3 control-label">Description <span class="required">*</span></label>
                        <div class="col-sm-6">
                            <textarea name="resume" rows="6" title="Your resume is too short." class="form-control" placeholder="Enter your resume" required></textarea>
                        </div>
                    </div>
                </div>

              

                <div class="row"></div>
              
                <footer class="panel-footer">
                    <div class="row mt-3">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>
    </div>



  {% endblock content %}