{% extends "Layouts/newbase.html" %}



{% block content %}

{% load static %}


<div class="row">
    
    <section class="panel panel-primary">
        <header class="panel-heading">
  
            <h2 class="panel-title text-center">{{ecs.nom}}</h2>
        </header>
    </section>
  
  </div>


    <!--================ Start Course Details Area =================-->
    <div class="row">
        
        <div class="col-sm-12 col-lg-6">

            <section class="panel">
                <div class="panel-body panel-body-nopadding">
                    <div class="owl-carousel mb-md" data-plugin-carousel data-plugin-options='{ "items": 1, "autoHeight": true }'>
                        <div class="item">
                            <img alt="" class="img-responsive img-rounded" src="{{ ecs.avatar.url }}">
                        </div>
                    
                    </div>
                    <div class="p-md">
                        <h4 class="text-semibold mt-none">Description du Module</h4>
                        <p>  {{ecs.description}}</p>
                    </div>

                    

            
                </div>
            

            </section>

            

        </div>

        <div class="col-md-6">


            <section class="panel panel-featured-left panel-featured-primary">
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-primary">
                                <i class="fa fa-life-ring"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Unite D'enseignement</h4>
                                <div class="info">
                                    <strong class="amount">{{ecs.ue.nom}}</strong>
                                    
                                </div>
                            </div>
                            <div class="summary-footer">
                                <a class="text-muted text-uppercase"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="panel panel-featured-left panel-featured-primary">
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-primary">
                                <i class="fa fa-life-ring"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Code UE</h4>
                                <div class="info">
                                    <strong class="amount">{{ecs.ue.code}}</strong>
                        
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>

            <section class="panel panel-featured-left panel-featured-primary">
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-primary">
                                <i class="fa fa-life-ring"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Charge Horaire</h4>
                                <div class="info">
                                    <strong class="amount">{{ecs.charge_horaire}} Heures</strong>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>

            <section class="panel panel-featured-left panel-featured-primary">
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-primary">
                                <i class="fa fa-life-ring"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Coefficient</h4>
                                <div class="info">
                                    <strong class="amount">{{ecs.coef}}</strong>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>


           </div>

            
        </div>
        </div>
        
    
    <!--================ End Course Details Area =================-->

    {% endblock content %}