{% extends "Layouts/base.html" %}



{% block content %}

{% load static %}

<!--================Home Banner Area =================-->
<section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="banner_content text-center">
            <h2>Courses</h2>
            <div class="page_link">
              <a href="{% url 'PlanningHomePage' %}">Home</a>
              <a href="courses.html">Courses</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->



    <!--================ Start Trainers Area =================-->
  

    <section class="trainer_area section_gap_top">
      
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="main_title">
              
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <h2 class="mb-20 justify-content-center">  Maquette &nbsp; {{maquette.classe.nom }} &nbsp;Last Update : {{maquette.date}} </h2>
                  <span class="badge badge-primary badge-pill">Nombre Total Module : {{uc_count}}</span>
                </li>
               
              </ul>

            </div>
          </div>
        </div>

        <div class="row justify-content-center d-flex align-items-center">

          {% for uc in uc_stats  %}
            
          <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
            <div class="thumb d-flex justify-content-sm-center">
             <a href="{% url 'PlanningCoursesDetails' uc.id %}"><img class="img-fluid"   src= "{{ uc.avatar.url }}"/></a> 
            </div>
            <div class="meta-text text-sm-center">
              <h4>Nom : {{uc.nom }}</h4>
              <p class="designation">Charge Horaire : {{ uc.charge_horaire }}Heures</p>
              <div class="mb-4">
                <p>
                UE : {{uc.ue.nom}}
                </p>
              </div>
              <div class="align-items-center justify-content-center d-flex">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter"></i></a>
                <a href="#"><i class="ti-linkedin"></i></a>
                <a href="#"><i class="ti-pinterest"></i></a>
              </div>
            </div>
          </div>

          {% endfor %}



        </div>


        

      </div>
    </section>

 
    <!--================ End Trainers Area =================-->


    <nav aria-label="Page navigation example">
      {% if uc_stats.has_other_pages %}

        <ul class="pagination justify-content-center">

          {% if uc_stats.has_previous %}

          <li class="page-item">
            <a class="page-link active" href="?page={{ uc_stats.previous_page_number }}">Previous</a>
          </li>

          {% else %}

          <li class="disabled"><span>Previous</span></li>

          {% endif %}

          {% for i in uc_stats.paginator.page_range %}

          {% if uc_stats.number == i %}

          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>

          {% else %}

          <li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

          {% endif %}

          {% endfor %}

          {% if uc_stats.has_next %}

          <li class="page-item">
            <a class="page-link" href="?page={{ uc_stats.next_page_number }}">Next</a>
          </li>

          {% else %}

          <li class="disabled"><span>Next</span></li>

          {% endif %}
        </ul>

        {% endif %}

      </nav>

    

  


{% endblock content %}