{% extends "Layouts/newbase.html" %}




{% block content %}

{% load static %}


<div class="row">
    
  <section class="panel panel-primary">
      <header class="panel-heading">
          <div class="panel-actions">
              <a href="#" class="fa fa-caret-down"></a>
          </div>

          <h2 class="panel-title">Les Modules Du Maquette &nbsp; &nbsp; {{maquette.classe.nom}}  &nbsp; &nbsp; {{maquette.date}}</h2>
      </header>
      <div class="panel-body">
          <div>Nombre Total De Module : {{ uc_count}}</div>
      </div>
  </section>

</div>




    <!--================ Start Trainers Area =================-->
  
<!-- start: page -->

<div class="row">

  {% for uc in uc_stats  %}

  <div class="pricing-table">
    <div class="col-lg-3 col-sm-6">
      <div class="plan">
        <h3>{{uc.nom }}<span>{{ uc.charge_horaire }} H</span></h3>
        <a class="btn btn-lg btn-primary" href="{% url 'PlanningCoursesDetails' uc.id %}">More Details</a>
        <ul>
          <li><b> UE </b> {{uc.ue.nom}}</li>
          <li><b>Code UE</b> {{uc.ue.code}}</li>
          <li><b>Coefficient</b> {{uc.coef}}</li>
          
        </ul>
      </div>
    </div>

    {% endfor %}
  
 
    <!--================ End Trainers Area =================-->


    <nav aria-label="Page navigation example">
      {% if uc_stats.has_other_pages %}

        <ul class="pagination justify-content-center">

          {% if uc_stats.has_previous %}

          <li class="page-item">
            <a class="page-link active" href="?page={{ uc_stats.previous_page_number }}">Previous</a>
          </li>

          {% else %}

          <li class="disabled"><span>Previous</span></li>

          {% endif %}

          {% for i in uc_stats.paginator.page_range %}

          {% if uc_stats.number == i %}

          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>

          {% else %}

          <li class="page-item" ><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

          {% endif %}

          {% endfor %}

          {% if uc_stats.has_next %}

          <li class="page-item">
            <a class="page-link" href="?page={{ uc_stats.next_page_number }}">Next</a>
          </li>

          {% else %}

          <li class="disabled"><span>Next</span></li>

          {% endif %}
        </ul>

        {% endif %}

      </nav>

    

  


{% endblock content %}