{% extends "Layouts/newbase.html" %}




{% block content %}

{% load static %}

<div class="row">
    
    <section class="panel panel-primary">
        <header class="panel-heading">
  
            <h2 class="panel-title text-center">Update Maquette</h2>
        </header>
    
    </section>
  
  </div>


  <div class="row">
    <div class="col-md-12">
        <form  method="POST" class="form-horizontal" action="{% url 'UpdateMaquette' maq_sel.id %}">
           
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
    
                    </div>
                    

                    <h2 class="panel-title">Update Maquette</h2>
                    <p class="panel-subtitle">
                        Fisrt Step : Update Maquette Informations
                    </p>
                </header>
                <div class="panel-body">
                    <div class="validation-message">
                        <ul>Success</ul>
                    </div>

                    {% csrf_token %}

                    <div class="form-group">

                        <label class="col-sm-3 control-label">Classe <span class="required">*</span></label>
                        <div class="col-sm-7">

                        <select name="nom" class="form-control" value={{maq_sel.classe}} required>

                            {% for cls in classe  %}

                            <option value="{{cls.nom}}">{{cls.nom}}</option>
                              
                            {% endfor %}
                            
                           
                        </select>
                        <label class="error" for="company"></label>
                    </div>

                    


                    <div class="form-group">
                        <label class="col-sm-3 control-label">Date</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" name = "date" value={{maq_sel.date}} data-plugin-datepicker class="form-control">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group mb-3">
                        <label class="col-sm-3 control-label">Description <span class="required">*</span></label>
                        <div class="col-sm-6">
                            <textarea name="description"  rows="6" title="Your resume is too short." class="form-control" placeholder="Enter your resume" required>{{maq_sel.description}}</textarea>
                        </div>
                    </div>
                </div>

                <div class="row"></div>
              
                <footer class="panel-footer">
                    <div class="row mt-3">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </footer>
            </section>
        </form>
    </div>



  {% endblock content %}