{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    
    <!-- <link rel="icon" href="{%  static 'img/favicon.png' %}" type="image/png" /> -->
    <title>EPT-PlanIT</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{%  static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{%  static 'css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{%  static 'vendors/owl-carousel/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{%  static 'vendors/nice-select/css/nice-select.css' %}" />
   
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!--===============================================================================================-->
	<link rel="icon" type="image/png" href="imagess/icons/favicon.ico"/>
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendorr/bootstrap/css/bootstrap.min.css' %}">
  <!--===============================================================================================-->
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendorr/animate/animate.css' %}">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendorr/css-hamburgers/hamburgers.min.css' %}">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendorr/animsition/css/animsition.min.css' %}">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendorr/select2/select2.min.css' %}">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendorr/daterangepicker/daterangepicker.css' %}">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'csss/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'csss/main.css' %}">
  
 <link rel="stylesheet" href="{% static 'ccss/style.css' %}">

 <link rel="stylesheet" href="{% static 'ffonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">

 

 
  </head>

  <body>

    {% include "Layouts/header.html" %}

    {% block content %}  {% endblock content %}
    
    {% include "Layouts/footer.html" %}
      


        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{%  static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{%  static 'js/popper.js' %}"></script>
    <script src="{%  static 'js/bootstrap.min.js' %}"></script>
    <script src="{%  static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
    <script src="{%  static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{%  static 'js/owl-carousel-thumb.min.js' %}"></script>
    <script src="{%  static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{%  static 'js/mail-script.js' %}"></script>

    <script src="{%  static 'js/gmaps.min.js' %}"></script>
    <script src="{%  static 'js/theme.js' %}"></script>


 


 
    
  </body>