
{% block content %}

{% load static %}
<header class="header">
			
 <!--================ Start Header Menu Area =================-->
 <header class="header_area" style="background-color: #002347;">
    <div class="main_menu">
      <div class="search_input" id="search_input_box">
        <div class="container">
          <form class="d-flex justify-content-between" method="" action="">
            <input
              type="text"
              class="form-control"
              id="search_input"
              placeholder="Search Here"
            />
            <button type="submit" class="btn"></button>
            <span
              class="ti-close"
              id="close_search"
              title="Close Search"
            ></span>
          </form>
        </div>
      </div>

      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="{% url 'PlanningHomePage'%}" style="font-size:x-large ;color:white; font-size:60px" >
            
            PlanIT</a>
          
            
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse offset"
            id="navbarSupportedContent"
          >
            <ul class="nav navbar-nav menu_nav ml-auto" >
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'PlanningHomePage' %}" style="font-size:x-large; color:white"> Home</a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="{% url 'PlanningHomePage' %}" style="font-size:x-large; color:white"> Actualite</a>
              </li>

             

              <li class="nav-item active">
                <a class="nav-link" href="{% url 'PlanningBlog' %}" style="font-size:x-large ;color:white">Blog</a>
              </li>
              
              
               
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'PlanningAboutus' %}" style="font-size:x-large; color:white">Contact</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link search" id="search" style="font-size:x-large; color:white">
                  <i class="ti-search"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  
  


    
{% endblock content %}
    