{% extends "Layouts/newbase.html" %}

{% block content %}
{% load static %}

<div class="row">
    
    <section class="panel panel-primary">
        <header class="panel-heading">

            <h2 class="panel-title text-center">Thies Polytechnic IT Department</h2>
        </header>
        
    </section>

</div>

    


    <!-- start: page -->
    <div class="owl-carousel row" data-plugin-carousel data-plugin-options='{ "autoPlay": 3000, "items": 6, "itemsDesktop": [1199,4], "itemsDesktopSmall": [979,3], "itemsTablet": [768,2], "itemsMobile": [479,1] }'>
        <div class="item spaced"><img  src="{% static 'assets/images/7.JPG' %}" alt="" width="1230" height="520"></div>
       
     </div>

					
									
						
						
			


{% endblock content %}