{% extends "Layouts/base.html" %}



{% block content %}

{% load static %}

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="banner_content text-center">
                <h2>Contact Us</h2>
                <div class="page_link">
                  <a href="index.html">Home</a>
                  <a href="contact.html">Contact</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================ Start About Area =================-->
    <section class="about_area section_gap">
      <div class="container">
        <div class="row h_blog_item">
          <div class="col-lg-6">
            <div class="h_blog_img">
              <img class="img-fluid" src="{% static 'img/5.JPG' %}" alt="" />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="h_blog_text">
              <div class="h_blog_text_inner left right">
                <h4>Welcome to our Institute</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius suscipit adipisci quia at ab sit quibusdam, eos vero obcaecati tenetur, molestiae harum quasi molestias! Veniam iure veritatis nihil blanditiis aspernatur.
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus id inventore earum dolore optio quaerat rem deleniti beatae, suscipit fuga? Reprehenderit repudiandae nobis quaerat assumenda alias consequatur minus quis quia.
                </p>
                <a class="primary-btn" href="#">
                  Learn More <i class="ti-arrow-right ml-1"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End About Area =================-->

    <!--================ Start Feature Area =================-->
    <section class="feature_area section_gap_top title-bg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="main_title">
              <h2 class="mb-3 text-white">Awesome Feature</h2>
              <p>
             
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-student"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Scholarship Facility</h4>
                <p>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sequi omnis quia similique culpa dolores, impedit nesciunt. Dicta aperiam, assumenda blanditiis repellendus corrupti voluptate ut in expedita fugiat dolore esse?
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-book"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2"> Course</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolores ex dolorum laborum magni sed dolorem perspiciatis nihil, eum aut quo maxime? Quia, porro libero voluptatum nisi provident impedit reiciendis!
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="single_feature">
              <div class="icon"><span class="flaticon-earth"></span></div>
              <div class="desc">
                <h4 class="mt-3 mb-2">Entreprise</h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere ipsam, officia voluptas modi in temporibus quam cum asperiores eos tempora cumque accusantium neque, at optio, esse itaque corrupti reprehenderit! Magnam.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Feature Area =================-->
<!--================ Start Testimonial Area =================-->
<div class="testimonial_area section_gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="main_title">
          <h2 class="mb-3">PAROLE AUX ANCIENS DU DEPARTEMENT IT</h2>
          <p>
           
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="testi_slider owl-carousel">
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <img src="{%  static 'img/testimonials/1.JPG' %}" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Cambel</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum est neque odit exercitationem, autem ipsa dolores quod saepe quaerat delectus cupiditate voluptatibus, error ad ducimus accusamus cum impedit? Assumenda, ab!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <img src="{%  static 'img/testimonials/1.JPG' %}" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Faty Gueye</h4>
                <p>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolore odio atque dicta sed? Quis quam quod corrupti facilis magni eveniet? Fuga, fugiat autem hic molestias ipsa delectus rerum dolorem?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <img src="{%  static 'img/testimonials/1.JPG' %}" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Khadim DIAKHATE</h4>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora explicabo laudantium vel quae veritatis at iste quia sit velit? Voluptatibus vitae suscipit nesciunt tenetur error numquam, in placeat repellat ea!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <img src="{%  static 'img/testimonials/1.JPG' %}" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Falilou Fall</h4>
                <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic ullam earum doloribus! Molestias qui quae incidunt! Similique, dolor dolorum dolorem nobis, nemo rem repellendus quas laborum earum placeat, incidunt perferendis?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <img src="{%  static 'img/testimonials/1.JPG' %}" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Ameth Ndiaye</h4>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, totam. Ex cumque repellendus qui impedit delectus dolorum expedita accusantium iste pariatur cupiditate? Tempora hic, atque suscipit corrupti eligendi id debitis?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="testi_item">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <img src="{%  static 'img/testimonials/1.JPG' %}" alt="" />
            </div>
            <div class="col-lg-8">
              <div class="testi_text">
                <h4>Ibou Sene</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda deleniti suscipit hic doloremque cum laborum sapiente ab ipsum exercitationem itaque explicabo quas, voluptatum veritatis odit provident obcaecati? Sapiente, est quaerat?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ================ End Testimonial Area ================= -->

     <!--================Contact Area =================-->
     <section class="contact_area section_gap">
      <div class="container">
      
        <div class="row">
          <div class="col-lg-3">
            <div class="contact_info">
              <div class="info_item">
                <i class="ti-home"></i>
                <h6>Thies, SENEGAL</h6>
                <p>Thies None Route National</p>
              </div>
              <div class="info_item">
                <i class="ti-headphone"></i>
                <h6><a href="#">33 456 78 90</a></h6>
                <p>Mon to Sat 8am to 7 pm</p>
              </div>
              <div class="info_item">
                <i class="ti-email"></i>
                <h6><a href="#">polytechnic@ept.sn</a></h6>
                <p>Send us your query anytime!</p>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <form
              class="row contact_form"
              action="contact_process.php"
              method="post"
              id="contactForm"
              novalidate="novalidate"
            >
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Enter your name"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter your name'"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter email address"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter email address'"
                    required=""
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="subject"
                    name="subject"
                    placeholder="Enter Subject"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter Subject'"
                    required=""
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    name="message"
                    id="message"
                    rows="1"
                    placeholder="Enter Message"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter Message'"
                    required=""
                  ></textarea>
                </div>
              </div>
              <div class="col-md-12 text-right">
                <button type="submit" value="submit" class="btn primary-btn">
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--================Contact Area =================-->

{% endblock content %}
