
{% extends "Layouts/base.html" %}


{% block content %}
{% load static %}
<section class="home_banner_area">
	<div class="banner_inner">
	  <div class="container">
		<div class="wrapper" style="margin-top:200px">
			<div class="inner" style="margin-top:170px">
				<div class="image-holder">
					<img src="{% static 'imagesss/6.JPG' %}" width="600px" height="400px" alt="">
				</div>
				{% if messages %}
				<ul class="messages">
    				{% for message in messages %}
    				<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
       					{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        				{{ message }}
   					 </li>
    				{% endfor %}
				</ul>	
				{% endif %}
				<form action="{% url 'Login' %}" method="POST">
					{% csrf_token %}
                    <h3>Login FORM</h3>
                  
						{{form.as_p}}
					<button>Login
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
					<a href="{% url 'PasswordModif' %}" class='text-center'>mot de passe oublié</a>
				</form>
			</div>
        </div>
	  </div>
	</div>
  </section>
  




        
{% endblock content %}