{% extends "Layouts/base.html" %}


{% block content %}
{% load static %}
<section class="home_banner_area">
	<div class="banner_inner">
	  <div class="container">
		<div class="wrapper" style="margin-top:200px">
			<div class="inner" style="margin-top:170px">
				<div class="image-holder">
					<img src="{% static 'imagesss/3.JPG' %}" width="500px" height="500px" alt="">
				</div>
				<form action="{% url 'PasswordModif'  %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
                    <h3>PASSWORD MODIFICATION</h3>
						{{form.as_p}}
					<button>Register
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
        </div>
	  </div>
	</div>
  </section>
  




        
{% endblock content %}
